cloud_id                 = "XXXXXXXXXXXXXXXXX"
folder_id                = "XXXXXXXXXXXXXXXXX"
zone                     = "ru-central1-a"
app_disk_image           = "AppDiskImageId"
db_disk_image            = "DbImageId"
public_key_path          = "files/ubuntu.pub"
service_account_key_file = "../../key.json"
subnet_id                = "XXXXXXXXXXXXXXXXX"
private_key_patch        = "files/ubuntu"
